RewriteEngine on

RewriteRule ^home$ media.php?module=home [L]
RewriteRule ^profile\.html$ media.php?module=profile&id=$1 [L]
RewriteRule ^hasil\.html$ media.php?module=hasil&id=$1 [L]
RewriteRule ^diagram\.html$ media.php?module=diagram&id=$1 [L]
RewriteRule ^semua-data\.html$ media.php?module=semuadata&id=$1 [L]
RewriteRule ^proses-excel\.html$ media.php?module=prosesexcel&id=$1 [L]
RewriteRule ^hapus-data\.html$ media.php?module=hapusdata&id=$1 [L]
Options All -Indexes
